<%= form_with(model: astronaut, local: true) do |form| %>
  <% if astronaut.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(astronaut.errors.count, "error") %> prohibited this astronaut from being saved:</h2>

      <ul>
      <% astronaut.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :firstname %>
    <%= form.text_field :firstname, id: :astronaut_firstname %>
  </div>

  <div class="field">
    <%= form.label :lastname %>
    <%= form.text_field :lastname, id: :astronaut_lastname %>
  </div>

  <div class="field">
    <%= form.label :birthdate %>
    <%= form.date_select :birthdate, id: :astronaut_birthdate %>
  </div>

  <div class="field">
    <%= form.label :superpower %>
    <%= form.text_field :superpower, id: :astronaut_superpower %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
