<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @astronaut.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @astronaut.lastname %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @astronaut.birthdate %>
</p>

<p>
  <strong>Superpower:</strong>
  <%= @astronaut.superpower %>
</p>

<%= link_to 'Edit', edit_astronaut_path(@astronaut) %> |
<%= link_to 'Back', astronauts_path %>
